#authors {
    font-family: 'Dawning of a New Day';
    font-size: 4em;
    color: #C8E6C9;
    text-decoration: underline;
    margin-bottom: .5em;
}

nav {
    background-color: black;
}

nav .brand-logo {
    color: #C8E6C9;
}
.create_articel{
    margin:10px;
}

.recent_notifications {
    color: #159588;
}

a.logo {
    color: #159588;
}

.navigation-bar {
    background: white;
    color: #159588 !important;
}

.collection .collection-item.avatar {
    min-height: 55px;
    padding-left: 10px;
}