@import url('https://fonts.googleapis.com/css?family=Sacramento');

nav{
    background-color:#fff;
}



.brand-logo{
    font-family: 'Sacramento', cursive; 
}

.nav-wrapper a{
    color:teal;
    font-size:40px;
}

@media screen and (max-width: 800px){
    .logo a{
        font-size:30px;
    }

    .right a{
        padding:1px;
    }
}

.tabs .tab a{
    color:#bbb;
}

.tabs .tab a:focus,
.tabs .tab a.active,
.tabs .tab a:hover {
    color:teal;
    background-color:transparent;
    border-bottom: 2px solid teal;
}

.menu {
    height:50px;
    border-bottom: 1px solid #bbb;
}

.user-image img{
    border-radius:50%;
    height:150px;
    width:150px;
}

.nav-image img{
    border-radius:50%;
    height:32px;
    width:32px;
}


@media screen and (max-width: 800px){
    .user-image img{
        border-radius:50%;
        height:100px;
        width:100px;
    }

    .nav-image img{
        border-radius:50%;
        height:30px;
        width:30px;
    }
}

.user-data{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    margin:20px 0px 10px 0px;
}

.edit-button{
    margin-top:30px;
}

.edit-button .btn{
    color: teal;
    background-color: #fff;
    border: 1px solid teal;
    border-radius: 10px;
}

.edit-button .btn:hover{
    color: #fff;
    background-color: teal;
}

@media screen and (max-width: 800px){
    .edit-button .btn{
        font-size: 12px;
    }
}

#username p{
    font-size: 30px;
    font-weight: 700;
    margin: 8px 0px 0px 0px;
}

#bio p{
    margin-top:0px;
}

.user-info{
    width:30%;
}

@media screen and (max-width: 800px){
    .user-info{
        width:90%;
    }
}

.user-info #following{
    display: flex;
    justify-content: space-between;
}

.user-info #following a{
    color:#bbb;
}

.user-info #following a:hover{
    color: teal;
}

.stories{
    margin-bottom:30px;
}

.stories #stories-title p{
    font-size: 15px;
    font-weight:600;
}

.the-story-content{
    margin: 20px;
}

#stories-content{
    border:1px solid #ddd;
    border-radius: 7px;
    margin: 10px;
}

#stories-content #title p{
    font-size: 26px;
    font-weight: 600;
    margin:5px 0px 0px 0px;
}

#stories-content #content p{
    margin-top:2px;
}

#user-information{
    display: inline-flex;
}

#user-information .user-image img{
    border-radius:50%;
    height:75px;
    width:75px;
}

#user-information .user{
    margin: 5px 0px 0px 9px;
}

#user-information #user-username p{
    margin-bottom: 1px;
}

#user-information #date-created p{
    color:#bbb;
    margin-top:0px;
}

.the-story-content #content a{
    color:teal;
}

.the-story-content #user-username a{
    color:#000;
}

.the-story-content #user-username a:hover{
    color:teal;
}

.interaction{
    display: flex;
    justify-content: space-between;
}

.interaction a{
    color:teal;
}

#likes #thumb-up-likes{
    padding-bottom: 15px;
}
