@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


html, body{
    height:100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.body img{
    width: 100%;
}
.author_name {
    color: #bbb;
}
nav{
    background-color:#fff;
}



.brand-logo{
    font-family: 'Sacramento', cursive;
}

.nav-wrapper a{
    color:teal;
    font-size:40px;
}

@media screen and (max-width: 800px){
    .logo a{
        font-size:30px;
    }

    .right a{
        padding:1px;
    }
}

.tabs .tab a{
    color:#bbb;
}

.tabs .tab a:focus,
.tabs .tab a.active,
.tabs .tab a:hover {
    color:teal;
    background-color:transparent;
    border-bottom: 2px solid teal;
}

.menu {
    height:50px;
    border-bottom: 1px solid #bbb;
}

.user-image img{
    border-radius:50%;
    height:150px;
    width:150px;
}

.nav-image img{
    border-radius:50%;
    height:32px;
    width:32px;
}


@media screen and (max-width: 800px){
    .user-image img{
        border-radius:50%;
        height:100px;
        width:100px;
    }

    .nav-image img{
        border-radius:50%;
        height:30px;
        width:30px;
    }
}

.user-data{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    margin:20px 0px 10px 0px;
}

.edit-button{
    margin-top:30px;
}

.edit-button .btn{
    color: teal;
    background-color: #fff;
    border: 1px solid teal;
    border-radius: 10px;
}

.edit-button .btn:hover{
    color: #fff;
    background-color: teal;
}

@media screen and (max-width: 800px){
    .edit-button .btn{
        font-size: 12px;
    }
}

#username p{
    font-size: 30px;
    font-weight: 700;
    margin: 8px 0px 0px 0px;
}

#bio p{
    margin-top:0px;
}

.user-info{
    width:30%;
}

@media screen and (max-width: 800px){
    .user-info{
        width:90%;
    }
}

.user-info #following{
    display: flex;
    justify-content: space-between;
}

.user-info #following a{
    color:#bbb;
}

.user-info #following a:hover{
    color: teal;
}

.stories{
    margin-bottom:30px;
}

.stories #stories-title p{
    font-size: 15px;
    font-weight:600;
}

.the-story-content{
    margin: 20px;
}

#stories-content{
    border:1px solid #ddd;
    border-radius: 7px;
    margin: 10px;
}

#stories-content #title p{
    font-size: 26px;
    font-weight: 600;
    margin:5px 0px 0px 0px;
}

#stories-content #content p{
    margin-top:2px;
}

#user-information{
    display: inline-flex;
}

#user-information .user-image img{
    border-radius:50%;
    height:75px;
    width:75px;
}

#user-information .user{
    margin: 5px 0px 0px 9px;
}

#user-information #user-username p{
    margin-bottom: 1px;
}

#user-information #date-created p{
    color:#bbb;
    margin-top:0px;
}

.notification {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff !important;
    background-color: #F9A825 !important;
    border-radius: 2px;
    margin-top: 20px;
}

.btn-notification {
    background-color: #F9A825;
}
=======

.create_articel{
    margin:10px;
}
<<<<<<< HEAD

.rating {
    text-align: center;
    margin-top: 120px;
    position: relative;
    width: 50%;
    float: left;
}

.hidden {
    opacity: 0;

}

.star {
    display: inline-block;
    margin: 2px;
    font-size: 25px;
    color: #e4e4e4;
    position: relative;
    transform: rotate(90deg);
}
.star.animate {
    -webkit-animation: stretch-bounce .5s ease-in-out;

}
.star.hidden {
    opacity: 0;

}

.full:before {
    font-family: fontAwesome;
    display: inline-block;
    content: "\f005";
    position: relative;
    float: right;
    z-index: 2;

}

.half:before {
    font-family: fontAwesome;
    content: "\f089";
    position: absolute;
    float: left;
    z-index: 3;

}

.star-colour {
    color: #ffd700;

}

@-webkit-keyframes stretch-bounce {
    0% {
        -webkit-transform: scale(1);

    }
    25% {
        -webkit-transform: scale(1.5);

    }
    50% {
        -webkit-transform: scale(0.9);

    }
    75% {
        -webkit-transform: scale(1.2);

    }
    100% {
        -webkit-transform: scale(1);

    }

}
.selected:before {
    font-family: fontAwesome;
    display: inline-block;
    content: "\f005";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(1);
    opacity: 1;
    z-index: 1;

}
.selected.pulse:before {
    -webkit-transform: scale(3);
    opacity: 0;

}
.selected.is-animated:before {
    transition: 1s ease-out;

}

.score {
    font-family: arial;
    font-size: 20px;
    color: green;
    margin-top: 20px;
    margin-left: 50px;

}

.score-rating {
    vertical-align: sup;
    top: -5px;
    position: relative;
    font-size: 150%;

}

.total {
    vertical-align: sub;
    top: 0px;
    position: relative;
    font-size: 100%;

}

.average {
    font-family: arial;
    font-size: 20px;
    color: indianred;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.average .score-average {
    padding-top: 30px;

}
